Node Red Flows/Automated Influx DB Backup
[{"id":"56c2ed4f4b302976","type":"debug","z":"68d20be5d24c7e74","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1390,"y":40,"wires":[]},{"id":"2c8c738718431182","type":"inject","z":"68d20be5d24c7e74","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"00 12 * * 0","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":100,"wires":[["e90fcc31db239f94"]]},{"id":"2a991e288ccb89d8","type":"bigssh","z":"68d20be5d24c7e74","name":"","commandLine":"docker exec addon_a0d7b954_influxdb influxd backup -portable -database home_assistant \"/share/influxdb/home_assistant/${payload.folder}\"","commandArgs":"","minError":1,"minWarning":1,"noStdin":true,"format":"","payloadIsArg":true,"myssh":"5596ddbe2a505602","x":660,"y":100,"wires":[["2d23eccd3209b9ad"],["2d23eccd3209b9ad"],["2d23eccd3209b9ad"]]},{"id":"1b4e2a5795106d1d","type":"function","z":"68d20be5d24c7e74","name":"","func":"msg.payload = msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":60,"wires":[[]]},{"id":"30a94339936018e0","type":"switch","z":"68d20be5d24c7e74","name":"","property":"control.state","propertyType":"msg","rules":[{"t":"eq","v":"running","vt":"str"},{"t":"eq","v":"start","vt":"str"},{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":1110,"y":100,"wires":[[],[],[],["db6e610be8c70267"]]},{"id":"db6e610be8c70267","type":"switch","z":"68d20be5d24c7e74","name":"","property":"control.message","propertyType":"msg","rules":[{"t":"eq","v":"success","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1230,"y":120,"wires":[["56c2ed4f4b302976","d59e15ec68e92749"],["8e131d91fd6e749d"]]},{"id":"8e131d91fd6e749d","type":"function","z":"68d20be5d24c7e74","name":"Failed","func":"msg.payload = \"Influx DB Backup FAILED\";\n\nmsg.topic = \"Influx DB Backup\";\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":140,"wires":[["b5537fe1ddea5307","c765a89a90adbdf7","c339154bef29a864"]]},{"id":"d59e15ec68e92749","type":"function","z":"68d20be5d24c7e74","name":"Success","func":"msg.payload = \"Influx DB Backup PASSED\";\n\nmsg.topic = \"Influx DB Backup\";\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1400,"y":100,"wires":[["b5537fe1ddea5307","c765a89a90adbdf7","c339154bef29a864"]]},{"id":"b5537fe1ddea5307","type":"debug","z":"68d20be5d24c7e74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1550,"y":60,"wires":[]},{"id":"4ddcca64fb69f04a","type":"inject","z":"68d20be5d24c7e74","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"00 12 * * 0","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":710,"y":160,"wires":[["a2499eee86572da4"]]},{"id":"a2499eee86572da4","type":"function","z":"68d20be5d24c7e74","name":"","func":"msg = {\"_msgid\":\"36f04355802d2b1e\",\"payload\":\"2022/03/29 12:08:20 backing up db=home_assistant rp=autogen shard=127 to /share/influxdb/home_assistant/home_assistant.autogen.00127.00 since 0001-01-01T00:00:00Z\\n\",\"topic\":\"\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":160,"wires":[["30a94339936018e0"]]},{"id":"ae53652f1d92f4b4","type":"inject","z":"68d20be5d24c7e74","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":260,"wires":[["9281ad9d6f952c4a"]]},{"id":"9281ad9d6f952c4a","type":"bigssh","z":"68d20be5d24c7e74","name":"","commandLine":"docker exec addon_a0d7b954_influxdb influxd restore -portable -database home_assistant \"/share/influxdb/home_assistant\"","commandArgs":"","minError":1,"minWarning":1,"noStdin":true,"format":"","payloadIsArg":false,"myssh":"5596ddbe2a505602","x":340,"y":260,"wires":[["6985462d3a861efb"],["6985462d3a861efb"],["6985462d3a861efb"]]},{"id":"6985462d3a861efb","type":"debug","z":"68d20be5d24c7e74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":260,"wires":[]},{"id":"2d869e460b0d82b2","type":"comment","z":"68d20be5d24c7e74","name":"Restore","info":"","x":130,"y":200,"wires":[]},{"id":"ff30c952cdacc084","type":"comment","z":"68d20be5d24c7e74","name":"Backup","info":"","x":130,"y":60,"wires":[]},{"id":"aa86ca8ff340a5b1","type":"inject","z":"68d20be5d24c7e74","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 12 * * 0","once":false,"onceDelay":0.1,"topic":"${payload.folder}","payload":"","payloadType":"date","x":150,"y":360,"wires":[["80191d81a38c4ead"]]},{"id":"80191d81a38c4ead","type":"bigssh","z":"68d20be5d24c7e74","name":"","commandLine":"","commandArgs":"","minError":1,"minWarning":1,"noStdin":true,"format":"","payloadIsArg":false,"myssh":"5596ddbe2a505602","x":340,"y":360,"wires":[["4173b87d628a35e3"],["4173b87d628a35e3"],["4173b87d628a35e3"]]},{"id":"4173b87d628a35e3","type":"debug","z":"68d20be5d24c7e74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":360,"wires":[]},{"id":"e90fcc31db239f94","type":"moment","z":"68d20be5d24c7e74","name":"","topic":"","input":"","inputType":"msg","inTz":"America/Chicago","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM-DD-YY","locale":"C","output":"date","outputType":"msg","outTz":"America/Chicago","x":300,"y":100,"wires":[["8e4b1a6d4643e40f"]]},{"id":"8e4b1a6d4643e40f","type":"function","z":"68d20be5d24c7e74","name":"","func":"msg.payload = {\"folder\": msg.date};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":100,"wires":[["2a991e288ccb89d8"]]},{"id":"3eebffdf5daa4cf7","type":"debug","z":"68d20be5d24c7e74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1130,"y":20,"wires":[]},{"id":"2d23eccd3209b9ad","type":"switch","z":"68d20be5d24c7e74","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":890,"y":100,"wires":[[],["30a94339936018e0"]]},{"id":"fb2111f6fc6dcf5a","type":"comment","z":"68d20be5d24c7e74","name":"Blank","info":"","x":130,"y":320,"wires":[]},{"id":"c339154bef29a864","type":"e-mail","z":"68d20be5d24c7e74","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":1630,"y":260,"wires":[]},{"id":"5596ddbe2a505602","type":"SSH_Credentials","host":"localhost","port":"22222","userlabel":"root@localhost"}]
