Node Red Flows/Email Report Generator from InfluxDB
[{"id":"651b4273f926603f","type":"tab","label":"Manual Report Dashboard","disabled":false,"info":"","env":[]},{"id":"6db024c53c7814f2","type":"ui_text_input","z":"651b4273f926603f","name":"Email Input","label":"Email Input","tooltip":"","group":"d3c2ee8c74e061b7","order":3,"width":0,"height":0,"passthru":false,"mode":"email","delay":"0","topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":650,"y":400,"wires":[["d4f21dcffc0aa6fe"]]},{"id":"a403e283ca492221","type":"ui_button","z":"651b4273f926603f","name":"Run Button","group":"d3c2ee8c74e061b7","order":4,"width":0,"height":0,"passthru":false,"label":"Send Me the Data","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":370,"y":600,"wires":[["d8bfbc671321b8ef"]]},{"id":"d8bfbc671321b8ef","type":"function","z":"651b4273f926603f","name":"","func":"msg.start = global.get('report_begin_date')\nmsg.end = global.get('report_end_date')\nmsg.email = global.get('report_email')\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":600,"wires":[["7e732b8eadb242b9"]]},{"id":"5a7989877557d7f6","type":"change","z":"651b4273f926603f","name":"Save Report Begin Date","rules":[{"t":"set","p":"report_begin_date","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":280,"wires":[[]]},{"id":"99838071530f1bb0","type":"change","z":"651b4273f926603f","name":"Save Report End Date","rules":[{"t":"set","p":"report_end_date","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":340,"wires":[[]]},{"id":"d4f21dcffc0aa6fe","type":"change","z":"651b4273f926603f","name":"Save Report Email to","rules":[{"t":"set","p":"report_email","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":400,"wires":[[]]},{"id":"6ad79463ba8bf4e1","type":"ui_ui_control","z":"651b4273f926603f","name":"On Connect","events":"connect","x":110,"y":340,"wires":[["8e4adf4561c78e65","339b3da0dac2cccf","2f2bf6611a8aa843"]]},{"id":"8e4adf4561c78e65","type":"change","z":"651b4273f926603f","name":"Save Report Begin Date","rules":[{"t":"set","p":"payload","pt":"msg","to":"report_begin_date","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":280,"wires":[["b6ed0f028c18f0f7"]]},{"id":"2f2bf6611a8aa843","type":"change","z":"651b4273f926603f","name":"Save Report End Date","rules":[{"t":"set","p":"payload","pt":"msg","to":"report_end_date","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":340,"wires":[["489811a00e2ca50c"]]},{"id":"339b3da0dac2cccf","type":"change","z":"651b4273f926603f","name":"Save Report Email to","rules":[{"t":"set","p":"payload","pt":"msg","to":"report_email","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":400,"wires":[["6db024c53c7814f2"]]},{"id":"a7f441e6d3595c0e","type":"influxdb in","z":"651b4273f926603f","influxdb":"a76f0844163cea73","name":"HomeAssistant","query":"SELECT cumulative_sum(last(\"value\")) FROM \"home_assistant\".\"autogen\".\"h\" WHERE (\"entity_id\" = 'dry_off_oven_on') AND time >= 1641016800000ms and time <= now() GROUP BY time(1d) fill(null)","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":640,"y":1020,"wires":[["2bcced2a317ed7d4"]]},{"id":"2bcced2a317ed7d4","type":"csv","z":"651b4273f926603f","name":"","sep":",","hdrin":"","hdrout":"all","multi":"one","ret":"\\n","temp":"time, cumulative_sum","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":790,"y":980,"wires":[["343cec42b9534435"]]},{"id":"d860fe8a25df9f22","type":"function","z":"651b4273f926603f","name":"Set filename and convert to buffer","func":"msg.topic = \"Machine_Runtime_Data \" + msg.date_range_start + \" to \" + msg.date_range_end    \nmsg.filename = \"Machine_Runtime_Data_\" + msg.date_range_start + \"-\" + msg.date_range_end + \".csv\"\nmsg.payload = Buffer.from(msg.payload);\nmsg.to = global.get('report_email')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1880,"y":1020,"wires":[["c06aa3df34e6a888"]]},{"id":"343cec42b9534435","type":"split","z":"651b4273f926603f","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":910,"y":980,"wires":[["d2d650a558c2fe60"]]},{"id":"d2d650a558c2fe60","type":"switch","z":"651b4273f926603f","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"parts.count - 2","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":1030,"y":980,"wires":[["4537df3018b55384"]]},{"id":"3279a34d5f4df34e","type":"join","z":"651b4273f926603f","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1490,"y":1020,"wires":[["594f5d473325b448"]]},{"id":"4537df3018b55384","type":"join","z":"651b4273f926603f","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1170,"y":960,"wires":[["1ab600c02a295ff7","3279a34d5f4df34e"]]},{"id":"6681a9def8885f07","type":"change","z":"651b4273f926603f","name":"Set Machine Name","rules":[{"t":"set","p":"payload","pt":"msg","to":"Dryoff Oven","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":940,"wires":[["4537df3018b55384"]]},{"id":"d05a198ac3ecced6","type":"link in","z":"651b4273f926603f","name":"","links":["166dfd0a1e28cd9b"],"x":195,"y":980,"wires":[["e4453726b38b5ceb"]]},{"id":"d13d721136479296","type":"link in","z":"651b4273f926603f","name":"","links":["166dfd0a1e28cd9b"],"x":855,"y":940,"wires":[["6681a9def8885f07"]]},{"id":"ddb2f9631e982e99","type":"influxdb in","z":"651b4273f926603f","influxdb":"a76f0844163cea73","name":"HomeAssistant","query":"SELECT cumulative_sum(last(\"value\")) FROM \"home_assistant\".\"autogen\".\"h\" WHERE (\"entity_id\" = 'wash_plant_on') AND time >= 1641016800000ms and time <= now() GROUP BY time(1d) fill(null)","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":640,"y":1140,"wires":[["db5f6789e09ae29d"]]},{"id":"db5f6789e09ae29d","type":"csv","z":"651b4273f926603f","name":"","sep":",","hdrin":"","hdrout":"all","multi":"one","ret":"\\n","temp":"time, cumulative_sum","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":790,"y":1100,"wires":[["9db54cb6ef222630"]]},{"id":"9db54cb6ef222630","type":"split","z":"651b4273f926603f","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":910,"y":1100,"wires":[["64e2b79e795dd0b7"]]},{"id":"64e2b79e795dd0b7","type":"switch","z":"651b4273f926603f","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"parts.count - 2","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":1030,"y":1100,"wires":[["96a7b1cf51405650"]]},{"id":"96a7b1cf51405650","type":"join","z":"651b4273f926603f","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1170,"y":1080,"wires":[["e78030faab03a6e3","3279a34d5f4df34e"]]},{"id":"833c8f87ade0176a","type":"change","z":"651b4273f926603f","name":"Set Machine Name","rules":[{"t":"set","p":"payload","pt":"msg","to":"Wash Plant","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":1060,"wires":[["96a7b1cf51405650"]]},{"id":"f61bccce8f021d1a","type":"link in","z":"651b4273f926603f","name":"","links":["1ab600c02a295ff7"],"x":195,"y":1100,"wires":[["31796b11b99b4393"]]},{"id":"d74e6b051f993727","type":"link in","z":"651b4273f926603f","name":"","links":["1ab600c02a295ff7"],"x":855,"y":1060,"wires":[["833c8f87ade0176a"]]},{"id":"81ec3e1b9d14f3a3","type":"comment","z":"651b4273f926603f","name":"Dry Off Oven","info":"","x":890,"y":900,"wires":[]},{"id":"2395529649268084","type":"comment","z":"651b4273f926603f","name":"Wash Plant","info":"","x":890,"y":1020,"wires":[]},{"id":"59c194997de250c5","type":"change","z":"651b4273f926603f","name":"Set Column Headers","rules":[{"t":"set","p":"payload","pt":"msg","to":"Machine, End Date, Total Run Time","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":860,"wires":[["3279a34d5f4df34e","166dfd0a1e28cd9b"]]},{"id":"9d76fa428002da9e","type":"link in","z":"651b4273f926603f","name":"","links":["3a5e2834edaccc2c"],"x":835,"y":860,"wires":[["59c194997de250c5"]]},{"id":"f08262f7ab6bda15","type":"comment","z":"651b4273f926603f","name":"Columns","info":"","x":880,"y":820,"wires":[]},{"id":"e3ca2bd6cf154e9d","type":"debug","z":"651b4273f926603f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1830,"y":1100,"wires":[]},{"id":"166dfd0a1e28cd9b","type":"link out","z":"651b4273f926603f","name":"","mode":"link","links":["d05a198ac3ecced6","d13d721136479296"],"x":1175,"y":860,"wires":[]},{"id":"1ab600c02a295ff7","type":"link out","z":"651b4273f926603f","name":"","mode":"link","links":["d74e6b051f993727","f61bccce8f021d1a"],"x":1235,"y":920,"wires":[]},{"id":"e78030faab03a6e3","type":"link out","z":"651b4273f926603f","name":"","mode":"link","links":["e8eab58b42b33c86","1b8fbac3a56ee54a"],"x":1235,"y":1040,"wires":[]},{"id":"cb149212d23f68ab","type":"link in","z":"651b4273f926603f","name":"","links":["ba925d79d9c30cb3"],"x":1425,"y":1080,"wires":[["8c3c4c9d23da5c94"]]},{"id":"8c3c4c9d23da5c94","type":"change","z":"651b4273f926603f","name":"End Message","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":1080,"wires":[["3279a34d5f4df34e"]]},{"id":"322a0b444d0e37c1","type":"influxdb in","z":"651b4273f926603f","influxdb":"a76f0844163cea73","name":"HomeAssistant","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":640,"y":1100,"wires":[["db5f6789e09ae29d"]]},{"id":"4e56dffe1876877b","type":"influxdb in","z":"651b4273f926603f","influxdb":"a76f0844163cea73","name":"HomeAssistant","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":640,"y":980,"wires":[["2bcced2a317ed7d4"]]},{"id":"328a12862cc36f6b","type":"function","z":"651b4273f926603f","name":"","func":"//SELECT cumulative_sum(last(\"value\")) FROM \"home_assistant\".\"autogen\".\"h\" WHERE (\"entity_id\" = 'dry_off_oven_on') AND time >= 1641016800000ms and time <= now() GROUP BY time(1d) fill(null)\n\n//msg.machine = \"'msg.machine'\";\n\nmsg.start = global.get('report_begin_date')\nmsg.end = global.get('report_end_date')\n\nmsg.query = 'SELECT cumulative_sum(last(\"value\")) FROM \"home_assistant\".\"autogen\".\"h\" WHERE (\"entity_id\" =  ' + msg.machine + ') AND time >= ' + msg.start + 'ms and time <= '+ msg.end + 'ms GROUP BY time(1d) fill(null)';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":980,"wires":[["4e56dffe1876877b"]]},{"id":"31796b11b99b4393","type":"change","z":"651b4273f926603f","name":"Set data name","rules":[{"t":"set","p":"machine","pt":"msg","to":"'wash_plant_on'","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1100,"wires":[["93468570d062bfae"]]},{"id":"e4453726b38b5ceb","type":"change","z":"651b4273f926603f","name":"Set Data name","rules":[{"t":"set","p":"machine","pt":"msg","to":"'dry_off_oven_on'","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":980,"wires":[["328a12862cc36f6b"]]},{"id":"2bb760336e41663f","type":"moment","z":"651b4273f926603f","name":"","topic":"","input":"date_range_start","inputType":"msg","inTz":"America/Chicago","adjAmount":"1","adjType":"days","adjDir":"add","format":"MM_DD_YYYY","locale":"C","output":"date_range_start","outputType":"msg","outTz":"America/Chicago","x":1635,"y":1020,"wires":[["ea692b42cb55da3a"]],"l":false},{"id":"ea692b42cb55da3a","type":"moment","z":"651b4273f926603f","name":"","topic":"","input":"date_range_end","inputType":"msg","inTz":"America/Chicago","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM_DD_YYYY","locale":"C","output":"date_range_end","outputType":"msg","outTz":"America/Chicago","x":1695,"y":1020,"wires":[["d860fe8a25df9f22","e3ca2bd6cf154e9d"]],"l":false},{"id":"594f5d473325b448","type":"function","z":"651b4273f926603f","name":"","func":"msg.date_range_start = global.get('report_begin_date');\nmsg.date_range_end = global.get('report_end_date');\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1575,"y":1020,"wires":[["2bb760336e41663f"]],"l":false},{"id":"9dd9eaad27ec678e","type":"influxdb in","z":"651b4273f926603f","influxdb":"a76f0844163cea73","name":"HomeAssistant","query":"SELECT cumulative_sum(last(\"value\")) FROM \"home_assistant\".\"autogen\".\"h\" WHERE (\"entity_id\" = 'wash_plant_on') AND time >= 1641016800000ms and time <= now() GROUP BY time(1d) fill(null)","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":640,"y":1260,"wires":[["90d955ade8794005"]]},{"id":"90d955ade8794005","type":"csv","z":"651b4273f926603f","name":"","sep":",","hdrin":"","hdrout":"all","multi":"one","ret":"\\n","temp":"time, cumulative_sum","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":790,"y":1220,"wires":[["737c7b206d26dfa0"]]},{"id":"737c7b206d26dfa0","type":"split","z":"651b4273f926603f","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":910,"y":1220,"wires":[["0a731d65aead2827"]]},{"id":"0a731d65aead2827","type":"switch","z":"651b4273f926603f","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"parts.count - 2","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":1030,"y":1220,"wires":[["f660c7c1deabd6da"]]},{"id":"f660c7c1deabd6da","type":"join","z":"651b4273f926603f","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1170,"y":1200,"wires":[["8c6006dc6ff534c3","3279a34d5f4df34e"]]},{"id":"b110b199d566d661","type":"change","z":"651b4273f926603f","name":"Set Machine Name","rules":[{"t":"set","p":"payload","pt":"msg","to":"Cure Oven","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":1180,"wires":[["f660c7c1deabd6da"]]},{"id":"e8eab58b42b33c86","type":"link in","z":"651b4273f926603f","name":"","links":["e78030faab03a6e3"],"x":195,"y":1220,"wires":[["a630c29e3ef3d900"]]},{"id":"1b8fbac3a56ee54a","type":"link in","z":"651b4273f926603f","name":"","links":["e78030faab03a6e3"],"x":855,"y":1180,"wires":[["b110b199d566d661"]]},{"id":"374a15dc1ec1ac01","type":"influxdb in","z":"651b4273f926603f","influxdb":"a76f0844163cea73","name":"HomeAssistant","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":640,"y":1220,"wires":[["90d955ade8794005"]]},{"id":"a630c29e3ef3d900","type":"change","z":"651b4273f926603f","name":"Set data name","rules":[{"t":"set","p":"machine","pt":"msg","to":"'cure_oven_on'","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1220,"wires":[["2dbffe349d9bfc31"]]},{"id":"8c6006dc6ff534c3","type":"link out","z":"651b4273f926603f","name":"","mode":"link","links":["cf0548c8e5ca0dc6","1537c2ea0c4bd55e"],"x":1235,"y":1160,"wires":[]},{"id":"e7aa48cc73df6fcd","type":"influxdb in","z":"651b4273f926603f","influxdb":"a76f0844163cea73","name":"HomeAssistant","query":"SELECT cumulative_sum(last(\"value\")) FROM \"home_assistant\".\"autogen\".\"h\" WHERE (\"entity_id\" = 'wash_plant_on') AND time >= 1641016800000ms and time <= now() GROUP BY time(1d) fill(null)","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":640,"y":1380,"wires":[["c2aa9bd1ed0943bd"]]},{"id":"c2aa9bd1ed0943bd","type":"csv","z":"651b4273f926603f","name":"","sep":",","hdrin":"","hdrout":"all","multi":"one","ret":"\\n","temp":"time, cumulative_sum","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":790,"y":1340,"wires":[["413827e18cbfe315"]]},{"id":"413827e18cbfe315","type":"split","z":"651b4273f926603f","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":910,"y":1340,"wires":[["6fa3ad5d965a3b82"]]},{"id":"6fa3ad5d965a3b82","type":"switch","z":"651b4273f926603f","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"parts.count - 2","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":1030,"y":1340,"wires":[["a39bbe4c686ba4a2"]]},{"id":"a39bbe4c686ba4a2","type":"join","z":"651b4273f926603f","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1170,"y":1320,"wires":[["80571a15265c068b","3279a34d5f4df34e"]]},{"id":"8f2d876830489fb9","type":"change","z":"651b4273f926603f","name":"Set Machine Name","rules":[{"t":"set","p":"payload","pt":"msg","to":"Auto Booth","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":1300,"wires":[["a39bbe4c686ba4a2"]]},{"id":"cf0548c8e5ca0dc6","type":"link in","z":"651b4273f926603f","name":"","links":["8c6006dc6ff534c3"],"x":195,"y":1340,"wires":[["cee1626c331b8316"]]},{"id":"1537c2ea0c4bd55e","type":"link in","z":"651b4273f926603f","name":"","links":["8c6006dc6ff534c3"],"x":855,"y":1300,"wires":[["8f2d876830489fb9"]]},{"id":"e9f4fb03f9968784","type":"influxdb in","z":"651b4273f926603f","influxdb":"a76f0844163cea73","name":"HomeAssistant","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":640,"y":1340,"wires":[["c2aa9bd1ed0943bd"]]},{"id":"cee1626c331b8316","type":"change","z":"651b4273f926603f","name":"Set data name","rules":[{"t":"set","p":"machine","pt":"msg","to":"'auto_booth_on'","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1340,"wires":[["d42724077383d0e1"]]},{"id":"80571a15265c068b","type":"link out","z":"651b4273f926603f","name":"","mode":"link","links":["4e04cc9782c74206","4c2edc49ae3f093a"],"x":1235,"y":1280,"wires":[]},{"id":"308c61b232908cc4","type":"influxdb in","z":"651b4273f926603f","influxdb":"a76f0844163cea73","name":"HomeAssistant","query":"SELECT cumulative_sum(last(\"value\")) FROM \"home_assistant\".\"autogen\".\"h\" WHERE (\"entity_id\" = 'wash_plant_on') AND time >= 1641016800000ms and time <= now() GROUP BY time(1d) fill(null)","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":640,"y":1500,"wires":[["b673351b21b69c55"]]},{"id":"b673351b21b69c55","type":"csv","z":"651b4273f926603f","name":"","sep":",","hdrin":"","hdrout":"all","multi":"one","ret":"\\n","temp":"time, cumulative_sum","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":790,"y":1460,"wires":[["74f038f1627d5c67"]]},{"id":"74f038f1627d5c67","type":"split","z":"651b4273f926603f","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":910,"y":1460,"wires":[["3edd38d435440d36"]]},{"id":"3edd38d435440d36","type":"switch","z":"651b4273f926603f","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"parts.count - 2","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":1030,"y":1460,"wires":[["6d2cd158f685fb78"]]},{"id":"6d2cd158f685fb78","type":"join","z":"651b4273f926603f","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1170,"y":1440,"wires":[["4e2e5f819bf64d61","3279a34d5f4df34e"]]},{"id":"dad566e26deb6c8c","type":"change","z":"651b4273f926603f","name":"Set Machine Name","rules":[{"t":"set","p":"payload","pt":"msg","to":"Manual Booth","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":1420,"wires":[["6d2cd158f685fb78"]]},{"id":"4e04cc9782c74206","type":"link in","z":"651b4273f926603f","name":"","links":["80571a15265c068b"],"x":195,"y":1460,"wires":[["b496d2eef7772d62"]]},{"id":"4c2edc49ae3f093a","type":"link in","z":"651b4273f926603f","name":"","links":["80571a15265c068b"],"x":855,"y":1420,"wires":[["dad566e26deb6c8c"]]},{"id":"1a515274d309d8da","type":"influxdb in","z":"651b4273f926603f","influxdb":"a76f0844163cea73","name":"HomeAssistant","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":640,"y":1460,"wires":[["b673351b21b69c55"]]},{"id":"b496d2eef7772d62","type":"change","z":"651b4273f926603f","name":"Set data name","rules":[{"t":"set","p":"machine","pt":"msg","to":"'manual_booth_on'","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1460,"wires":[["8493d140c84d3e7d"]]},{"id":"4e2e5f819bf64d61","type":"link out","z":"651b4273f926603f","name":"","mode":"link","links":["723f3c7d4dce28a5","11424c9f155bdf4c"],"x":1235,"y":1400,"wires":[]},{"id":"95a3d447d87239ca","type":"comment","z":"651b4273f926603f","name":"Cure Oven","info":"","x":880,"y":1140,"wires":[]},{"id":"243f0cd9f430e8d1","type":"comment","z":"651b4273f926603f","name":"AutoBooth","info":"","x":880,"y":1260,"wires":[]},{"id":"456395e8e5069005","type":"comment","z":"651b4273f926603f","name":"Manual Booth","info":"","x":889,"y":1381,"wires":[]},{"id":"3a5e2834edaccc2c","type":"link out","z":"651b4273f926603f","name":"","mode":"link","links":["9d76fa428002da9e"],"x":1145,"y":600,"wires":[]},{"id":"9683aa7f33fb9151","type":"inject","z":"651b4273f926603f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":260,"wires":[["8e4adf4561c78e65","2f2bf6611a8aa843"]]},{"id":"71a6267363a9848c","type":"ui_date_picker","z":"651b4273f926603f","name":"","label":"End Date","group":"d3c2ee8c74e061b7","order":2,"width":0,"height":0,"passthru":true,"topic":"topic","topicType":"msg","className":"","x":640,"y":340,"wires":[["7ba75336daba0bea"]]},{"id":"2268fb8a66938521","type":"ui_date_picker","z":"651b4273f926603f","name":"","label":"Start Date","group":"d3c2ee8c74e061b7","order":1,"width":0,"height":0,"passthru":true,"topic":"topic","topicType":"msg","className":"","x":640,"y":280,"wires":[["8ab49e5353b8f033"]]},{"id":"b6ed0f028c18f0f7","type":"moment","z":"651b4273f926603f","name":"","topic":"","input":"","inputType":"msg","inTz":"Etc/UTC","adjAmount":"1","adjType":"days","adjDir":"add","format":"","locale":"C","output":"","outputType":"msg","outTz":"America/Chicago","x":535,"y":280,"wires":[["2268fb8a66938521"]],"l":false},{"id":"8ab49e5353b8f033","type":"moment","z":"651b4273f926603f","name":"","topic":"","input":"","inputType":"msg","inTz":"America/Chicago","adjAmount":"1","adjType":"days","adjDir":"subtract","format":"","locale":"C","output":"","outputType":"msg","outTz":"America/Chicago","x":735,"y":280,"wires":[["2cabfb0dad29ecd7"]],"l":false},{"id":"8493d140c84d3e7d","type":"function","z":"651b4273f926603f","name":"","func":"//SELECT cumulative_sum(last(\"value\")) FROM \"home_assistant\".\"autogen\".\"h\" WHERE (\"entity_id\" = 'dry_off_oven_on') AND time >= 1641016800000ms and time <= now() GROUP BY time(1d) fill(null)\n\n//msg.machine = \"'msg.machine'\";\n\nmsg.start = global.get('report_begin_date')\nmsg.end = global.get('report_end_date')\n\nmsg.query = 'SELECT cumulative_sum(last(\"value\")) FROM \"home_assistant\".\"autogen\".\"h\" WHERE (\"entity_id\" =  ' + msg.machine + ') AND time >= ' + msg.start + 'ms and time <= '+ msg.end + 'ms GROUP BY time(1d) fill(null)';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1460,"wires":[["1a515274d309d8da"]]},{"id":"d42724077383d0e1","type":"function","z":"651b4273f926603f","name":"","func":"//SELECT cumulative_sum(last(\"value\")) FROM \"home_assistant\".\"autogen\".\"h\" WHERE (\"entity_id\" = 'dry_off_oven_on') AND time >= 1641016800000ms and time <= now() GROUP BY time(1d) fill(null)\n\n//msg.machine = \"'msg.machine'\";\n\nmsg.start = global.get('report_begin_date')\nmsg.end = global.get('report_end_date')\n\nmsg.query = 'SELECT cumulative_sum(last(\"value\")) FROM \"home_assistant\".\"autogen\".\"h\" WHERE (\"entity_id\" =  ' + msg.machine + ') AND time >= ' + msg.start + 'ms and time <= '+ msg.end + 'ms GROUP BY time(1d) fill(null)';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1340,"wires":[["e9f4fb03f9968784"]]},{"id":"2dbffe349d9bfc31","type":"function","z":"651b4273f926603f","name":"","func":"//SELECT cumulative_sum(last(\"value\")) FROM \"home_assistant\".\"autogen\".\"h\" WHERE (\"entity_id\" = 'dry_off_oven_on') AND time >= 1641016800000ms and time <= now() GROUP BY time(1d) fill(null)\n\n//msg.machine = \"'msg.machine'\";\n\nmsg.start = global.get('report_begin_date')\nmsg.end = global.get('report_end_date')\n\nmsg.query = 'SELECT cumulative_sum(last(\"value\")) FROM \"home_assistant\".\"autogen\".\"h\" WHERE (\"entity_id\" =  ' + msg.machine + ') AND time >= ' + msg.start + 'ms and time <= '+ msg.end + 'ms GROUP BY time(1d) fill(null)';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1220,"wires":[["374a15dc1ec1ac01"]]},{"id":"93468570d062bfae","type":"function","z":"651b4273f926603f","name":"","func":"//SELECT cumulative_sum(last(\"value\")) FROM \"home_assistant\".\"autogen\".\"h\" WHERE (\"entity_id\" = 'dry_off_oven_on') AND time >= 1641016800000ms and time <= now() GROUP BY time(1d) fill(null)\n\n//msg.machine = \"'msg.machine'\";\n\nmsg.start = global.get('report_begin_date')\nmsg.end = global.get('report_end_date')\n\nmsg.query = 'SELECT cumulative_sum(last(\"value\")) FROM \"home_assistant\".\"autogen\".\"h\" WHERE (\"entity_id\" =  ' + msg.machine + ') AND time >= ' + msg.start + 'ms and time <= '+ msg.end + 'ms GROUP BY time(1d) fill(null)';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1100,"wires":[["322a0b444d0e37c1"]]},{"id":"0a998949e7c09df5","type":"ui_toast","z":"651b4273f926603f","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"Cancel","raw":true,"className":"","topic":"","name":"","x":910,"y":600,"wires":[["47ddb485deef0838"]]},{"id":"21922c790ec4a9a6","type":"function","z":"651b4273f926603f","name":"","func":"msg.payload = \"Start Date: \" + msg.start + \"<br>\" +\" End Date: \" + msg.end + \"<br>\" +\" Email: \" + msg.email\nmsg.topic = \"Please Verify Selection\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":600,"wires":[["0a998949e7c09df5"]]},{"id":"7e732b8eadb242b9","type":"moment","z":"651b4273f926603f","name":"","topic":"","input":"start","inputType":"msg","inTz":"Etc/UTC","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YYYY-HH:mm:ss","locale":"C","output":"start","outputType":"msg","outTz":"Etc/UTC","x":615,"y":600,"wires":[["4d60bbb1d93fb507"]],"l":false},{"id":"4d60bbb1d93fb507","type":"moment","z":"651b4273f926603f","name":"","topic":"","input":"end","inputType":"msg","inTz":"Etc/UTC","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YYYY-HH:mm:ss","locale":"C","output":"end","outputType":"msg","outTz":"Etc/UTC","x":665,"y":600,"wires":[["21922c790ec4a9a6"]],"l":false},{"id":"7ba75336daba0bea","type":"moment","z":"651b4273f926603f","name":"","topic":"","input":"","inputType":"msg","inTz":"America/Chicago","adjAmount":"1","adjType":"hours","adjDir":"add","format":"x","locale":"C","output":"","outputType":"msg","outTz":"Etc/UTC","x":735,"y":340,"wires":[["99838071530f1bb0"]],"l":false},{"id":"2cabfb0dad29ecd7","type":"moment","z":"651b4273f926603f","name":"","topic":"","input":"","inputType":"msg","inTz":"America/Chicago","adjAmount":"1","adjType":"hours","adjDir":"add","format":"x","locale":"C","output":"","outputType":"msg","outTz":"Etc/UTC","x":785,"y":280,"wires":[["5a7989877557d7f6"]],"l":false},{"id":"47ddb485deef0838","type":"switch","z":"651b4273f926603f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1050,"y":600,"wires":[["3a5e2834edaccc2c"]]},{"id":"489811a00e2ca50c","type":"moment","z":"651b4273f926603f","name":"","topic":"","input":"","inputType":"msg","inTz":"Etc/UTC","adjAmount":"1","adjType":"hours","adjDir":"subtract","format":"","locale":"C","output":"","outputType":"msg","outTz":"America/Chicago","x":545,"y":340,"wires":[["71a6267363a9848c"]],"l":false},{"id":"82b188b238c9d5d9","type":"change","z":"651b4273f926603f","name":"Save Report End Date","rules":[{"t":"set","p":"report_end_date","pt":"global","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":140,"wires":[[]]},{"id":"96827a91d8f11b66","type":"change","z":"651b4273f926603f","name":"Save Report Begin Date","rules":[{"t":"set","p":"report_begin_date","pt":"global","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":80,"wires":[[]]},{"id":"e48d9425c8ead052","type":"inject","z":"651b4273f926603f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":740,"y":100,"wires":[["96827a91d8f11b66","82b188b238c9d5d9"]]},{"id":"c06aa3df34e6a888","type":"e-mail","z":"651b4273f926603f","server":"smtp.office365.com","port":"587","secure":false,"tls":true,"name":"","dname":"","x":2090,"y":1020,"wires":[]},{"id":"e1ebf6bb7a0008cd","type":"influxdb in","z":"651b4273f926603f","influxdb":"a76f0844163cea73","name":"HomeAssistant","query":"SELECT cumulative_sum(last(\"value\")) FROM \"home_assistant\".\"autogen\".\"h\" WHERE (\"entity_id\" = 'wash_plant_on') AND time >= 1641016800000ms and time <= now() GROUP BY time(1d) fill(null)","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":640,"y":1620,"wires":[["ff737c6fb287019d"]]},{"id":"ff737c6fb287019d","type":"csv","z":"651b4273f926603f","name":"","sep":",","hdrin":"","hdrout":"all","multi":"one","ret":"\\n","temp":"time, cumulative_sum","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":790,"y":1580,"wires":[["44980b35cda362b9"]]},{"id":"44980b35cda362b9","type":"split","z":"651b4273f926603f","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":910,"y":1580,"wires":[["1fa55a1fa1e919a9"]]},{"id":"1fa55a1fa1e919a9","type":"switch","z":"651b4273f926603f","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"parts.count - 2","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":1030,"y":1580,"wires":[["56a8bfe46e87ea82"]]},{"id":"56a8bfe46e87ea82","type":"join","z":"651b4273f926603f","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1170,"y":1560,"wires":[["ba925d79d9c30cb3","3279a34d5f4df34e"]]},{"id":"757ea10dc2a56025","type":"change","z":"651b4273f926603f","name":"Set Machine Name","rules":[{"t":"set","p":"payload","pt":"msg","to":"Conveyor Line","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":1540,"wires":[["56a8bfe46e87ea82"]]},{"id":"11424c9f155bdf4c","type":"link in","z":"651b4273f926603f","name":"","links":["4e2e5f819bf64d61"],"x":195,"y":1580,"wires":[["efdefc415855653f"]]},{"id":"723f3c7d4dce28a5","type":"link in","z":"651b4273f926603f","name":"","links":["4e2e5f819bf64d61"],"x":855,"y":1540,"wires":[["757ea10dc2a56025"]]},{"id":"75883b9525db4c08","type":"influxdb in","z":"651b4273f926603f","influxdb":"a76f0844163cea73","name":"HomeAssistant","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":640,"y":1580,"wires":[["ff737c6fb287019d"]]},{"id":"efdefc415855653f","type":"change","z":"651b4273f926603f","name":"Set data name","rules":[{"t":"set","p":"machine","pt":"msg","to":"'paint_line_on'","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1580,"wires":[["bf617a489d293444"]]},{"id":"ba925d79d9c30cb3","type":"link out","z":"651b4273f926603f","name":"","mode":"link","links":["cb149212d23f68ab"],"x":1235,"y":1520,"wires":[]},{"id":"bf617a489d293444","type":"function","z":"651b4273f926603f","name":"","func":"//SELECT cumulative_sum(last(\"value\")) FROM \"home_assistant\".\"autogen\".\"h\" WHERE (\"entity_id\" = 'dry_off_oven_on') AND time >= 1641016800000ms and time <= now() GROUP BY time(1d) fill(null)\n\n//msg.machine = \"'msg.machine'\";\n\nmsg.start = global.get('report_begin_date')\nmsg.end = global.get('report_end_date')\n\nmsg.query = 'SELECT cumulative_sum(last(\"value\")) FROM \"home_assistant\".\"autogen\".\"h\" WHERE (\"entity_id\" =  ' + msg.machine + ') AND time >= ' + msg.start + 'ms and time <= '+ msg.end + 'ms GROUP BY time(1d) fill(null)';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1580,"wires":[["75883b9525db4c08"]]},{"id":"ad9651affc732c39","type":"comment","z":"651b4273f926603f","name":"Conveyor Line","info":"","x":889,"y":1501,"wires":[]},{"id":"d3c2ee8c74e061b7","type":"ui_group","name":"Start Date","tab":"b61b8f396c866c45","order":1,"disp":false,"width":"6","collapse":false,"className":""},{"id":"a76f0844163cea73","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"HomeAssistant","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"b61b8f396c866c45","type":"ui_tab","name":"CSV Email","icon":"dashboard","disabled":false,"hidden":false}]
