Automated CSV Email From Influx DB
[{"id":"91a838529bc37434","type":"tab","label":"Automated CSV Email","disabled":false,"info":"","env":[]},{"id":"cbbdcf5e39c2e739","type":"influxdb in","z":"91a838529bc37434","influxdb":"a76f0844163cea73","name":"HomeAssistant","query":"SELECT cumulative_sum(last(\"value\")) FROM \"home_assistant\".\"autogen\".\"h\" WHERE (\"entity_id\" = 'dry_off_oven_on') AND time >= 1641016800000ms and time <= now() GROUP BY time(1d) fill(null)","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":560,"y":380,"wires":[["a79060a2bfed6010"]]},{"id":"a79060a2bfed6010","type":"csv","z":"91a838529bc37434","name":"","sep":",","hdrin":"","hdrout":"all","multi":"one","ret":"\\n","temp":"time, cumulative_sum","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":710,"y":340,"wires":[["14ffcab5ec0e0dc1"]]},{"id":"e38b037d13f9c2a4","type":"function","z":"91a838529bc37434","name":"Set filename and convert to buffer","func":"msg.topic = \"Machine_Runtime_Data \" + msg.date_range_start + \" to \" + msg.date_range_end    \nmsg.filename = \"Machine_Runtime_Data_\" + msg.date_range_start + \"-\" + msg.date_range_end + \".csv\"\nmsg.payload = Buffer.from(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1800,"y":380,"wires":[["2d7433cca2bb93e0"]]},{"id":"14ffcab5ec0e0dc1","type":"split","z":"91a838529bc37434","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":830,"y":340,"wires":[["129562542f862eea"]]},{"id":"129562542f862eea","type":"switch","z":"91a838529bc37434","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"parts.count - 2","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":340,"wires":[["02c84b3b07f61880"]]},{"id":"b398cbf24db25a6b","type":"join","z":"91a838529bc37434","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1410,"y":380,"wires":[["d26d27fdb0e7d32b"]]},{"id":"02c84b3b07f61880","type":"join","z":"91a838529bc37434","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1090,"y":320,"wires":[["12d71c24674d35f3","b398cbf24db25a6b"]]},{"id":"a0578c1a55297739","type":"change","z":"91a838529bc37434","name":"Set Machine Name","rules":[{"t":"set","p":"payload","pt":"msg","to":"Dryoff Oven","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":300,"wires":[["02c84b3b07f61880"]]},{"id":"a7cd25985ebddd9c","type":"inject","z":"91a838529bc37434","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"01 00 * * 0","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":40,"wires":[["2eb9c162aa1976ad"]]},{"id":"2eb9c162aa1976ad","type":"link out","z":"91a838529bc37434","name":"","mode":"link","links":["237277ba4bcef4db","c4283ddb4d25d543","9f78f26079ad5c37","da4f50e92474446b","7e18dcde6f320ec5"],"x":235,"y":40,"wires":[]},{"id":"76faac81dd4609af","type":"link in","z":"91a838529bc37434","name":"","links":["4bdf7d4f273c9e15"],"x":115,"y":340,"wires":[["6c05ddd50a47f400"]]},{"id":"9f0d9ff8ff2ed85a","type":"link in","z":"91a838529bc37434","name":"","links":["4bdf7d4f273c9e15"],"x":775,"y":300,"wires":[["a0578c1a55297739"]]},{"id":"9d233c5aa79aa54b","type":"influxdb in","z":"91a838529bc37434","influxdb":"a76f0844163cea73","name":"HomeAssistant","query":"SELECT cumulative_sum(last(\"value\")) FROM \"home_assistant\".\"autogen\".\"h\" WHERE (\"entity_id\" = 'wash_plant_on') AND time >= 1641016800000ms and time <= now() GROUP BY time(1d) fill(null)","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":560,"y":500,"wires":[["f0664fe47b89740a"]]},{"id":"f0664fe47b89740a","type":"csv","z":"91a838529bc37434","name":"","sep":",","hdrin":"","hdrout":"all","multi":"one","ret":"\\n","temp":"time, cumulative_sum","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":710,"y":460,"wires":[["3935601666e18f7c"]]},{"id":"3935601666e18f7c","type":"split","z":"91a838529bc37434","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":830,"y":460,"wires":[["241aac02d19abe73"]]},{"id":"241aac02d19abe73","type":"switch","z":"91a838529bc37434","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"parts.count - 2","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":460,"wires":[["c405fa61d5abaaa2"]]},{"id":"c405fa61d5abaaa2","type":"join","z":"91a838529bc37434","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1090,"y":440,"wires":[["2873d01954978f57","b398cbf24db25a6b"]]},{"id":"1bbecffd5d011ece","type":"change","z":"91a838529bc37434","name":"Set Machine Name","rules":[{"t":"set","p":"payload","pt":"msg","to":"Wash Plant","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":420,"wires":[["c405fa61d5abaaa2"]]},{"id":"de0cfa29bfa4a7da","type":"link in","z":"91a838529bc37434","name":"","links":["12d71c24674d35f3"],"x":115,"y":460,"wires":[["3ce0419be056b1c7"]]},{"id":"0baa6a8de04559e4","type":"link in","z":"91a838529bc37434","name":"","links":["12d71c24674d35f3"],"x":775,"y":420,"wires":[["1bbecffd5d011ece"]]},{"id":"e876e667cdad910e","type":"comment","z":"91a838529bc37434","name":"Dry Off Oven","info":"","x":810,"y":260,"wires":[]},{"id":"903429bfcd90a6b3","type":"comment","z":"91a838529bc37434","name":"Wash Plant","info":"","x":810,"y":380,"wires":[]},{"id":"bc5f4d99f3122f94","type":"change","z":"91a838529bc37434","name":"Set Column Headers","rules":[{"t":"set","p":"payload","pt":"msg","to":"Machine, End Date, Weekly Run Time","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":220,"wires":[["b398cbf24db25a6b","4bdf7d4f273c9e15"]]},{"id":"7e18dcde6f320ec5","type":"link in","z":"91a838529bc37434","name":"","links":["2eb9c162aa1976ad"],"x":755,"y":220,"wires":[["bc5f4d99f3122f94"]]},{"id":"369a0e43ea865a5e","type":"comment","z":"91a838529bc37434","name":"Columns","info":"","x":800,"y":180,"wires":[]},{"id":"cfa6ddf1c2a042a9","type":"debug","z":"91a838529bc37434","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1750,"y":460,"wires":[]},{"id":"4bdf7d4f273c9e15","type":"link out","z":"91a838529bc37434","name":"","mode":"link","links":["9f0d9ff8ff2ed85a","76faac81dd4609af"],"x":1095,"y":220,"wires":[]},{"id":"12d71c24674d35f3","type":"link out","z":"91a838529bc37434","name":"","mode":"link","links":["0baa6a8de04559e4","de0cfa29bfa4a7da"],"x":1155,"y":280,"wires":[]},{"id":"2873d01954978f57","type":"link out","z":"91a838529bc37434","name":"","mode":"link","links":["3c4e3027f0050c61","2d20eec73a1f5728"],"x":1155,"y":400,"wires":[]},{"id":"b08cbeef8de881ce","type":"link in","z":"91a838529bc37434","name":"","links":["22b4057f0ca566c5"],"x":1345,"y":440,"wires":[["5663fc6379022247"]]},{"id":"5663fc6379022247","type":"change","z":"91a838529bc37434","name":"End Message","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":440,"wires":[["b398cbf24db25a6b"]]},{"id":"748459ac147c99b7","type":"influxdb in","z":"91a838529bc37434","influxdb":"a76f0844163cea73","name":"HomeAssistant","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":560,"y":460,"wires":[["f0664fe47b89740a"]]},{"id":"d537ab46b794a2be","type":"function","z":"91a838529bc37434","name":"","func":"//SELECT cumulative_sum(last(\"value\")) FROM \"home_assistant\".\"autogen\".\"h\" WHERE (\"entity_id\" = 'dry_off_oven_on') AND time >= 1641016800000ms and time <= now() GROUP BY time(1d) fill(null)\n\n//msg.machine = \"'wash_plant_on'\";\n\nmsg.range = 7 * 24 * 60 * 60 * 1000;\n\nmsg.time = Date.now() - msg.range;\n\nmsg.query = 'SELECT cumulative_sum(last(\"value\")) FROM \"home_assistant\".\"autogen\".\"h\" WHERE (\"entity_id\" =  ' + msg.machine + ') AND time >= ' + msg.time + 'ms and time <= now() GROUP BY time(1d) fill(null)';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":460,"wires":[["748459ac147c99b7"]]},{"id":"83dc940a19e31e7c","type":"influxdb in","z":"91a838529bc37434","influxdb":"a76f0844163cea73","name":"HomeAssistant","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":560,"y":340,"wires":[["a79060a2bfed6010"]]},{"id":"3950c131b889b196","type":"function","z":"91a838529bc37434","name":"","func":"//SELECT cumulative_sum(last(\"value\")) FROM \"home_assistant\".\"autogen\".\"h\" WHERE (\"entity_id\" = 'dry_off_oven_on') AND time >= 1641016800000ms and time <= now() GROUP BY time(1d) fill(null)\n\n//msg.machine = \"'msg.machine'\";\n\nmsg.range = 7 * 24 * 60 * 60 * 1000;\n\nmsg.time = Date.now() - msg.range;\n\nmsg.query = 'SELECT cumulative_sum(last(\"value\")) FROM \"home_assistant\".\"autogen\".\"h\" WHERE (\"entity_id\" =  ' + msg.machine + ') AND time >= ' + msg.time + 'ms and time <= now() GROUP BY time(1d) fill(null)';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":340,"wires":[["83dc940a19e31e7c"]]},{"id":"3ce0419be056b1c7","type":"change","z":"91a838529bc37434","name":"Set data name","rules":[{"t":"set","p":"machine","pt":"msg","to":"'wash_plant_on'","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":460,"wires":[["d537ab46b794a2be"]]},{"id":"6c05ddd50a47f400","type":"change","z":"91a838529bc37434","name":"Set Data name","rules":[{"t":"set","p":"machine","pt":"msg","to":"'dry_off_oven_on'","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":340,"wires":[["3950c131b889b196"]]},{"id":"1bb0bd9710908280","type":"moment","z":"91a838529bc37434","name":"","topic":"","input":"date_range_start","inputType":"msg","inTz":"America/Chicago","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM_DD_YYYY","locale":"C","output":"date_range_start","outputType":"msg","outTz":"America/Chicago","x":1555,"y":380,"wires":[["b97e8e05aad62c33"]],"l":false},{"id":"b97e8e05aad62c33","type":"moment","z":"91a838529bc37434","name":"","topic":"","input":"date_range_end","inputType":"msg","inTz":"America/Chicago","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM_DD_YYYY","locale":"C","output":"date_range_end","outputType":"msg","outTz":"America/Chicago","x":1615,"y":380,"wires":[["e38b037d13f9c2a4","cfa6ddf1c2a042a9"]],"l":false},{"id":"d26d27fdb0e7d32b","type":"function","z":"91a838529bc37434","name":"","func":"msg.date_range_start = Date.now() - 7 * 24 * 60 * 60 * 1000;\nmsg.date_range_end = Date.now()\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1495,"y":380,"wires":[["1bb0bd9710908280"]],"l":false},{"id":"ed63020812bad114","type":"influxdb in","z":"91a838529bc37434","influxdb":"a76f0844163cea73","name":"HomeAssistant","query":"SELECT cumulative_sum(last(\"value\")) FROM \"home_assistant\".\"autogen\".\"h\" WHERE (\"entity_id\" = 'wash_plant_on') AND time >= 1641016800000ms and time <= now() GROUP BY time(1d) fill(null)","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":560,"y":620,"wires":[["5372cbe221eb585b"]]},{"id":"5372cbe221eb585b","type":"csv","z":"91a838529bc37434","name":"","sep":",","hdrin":"","hdrout":"all","multi":"one","ret":"\\n","temp":"time, cumulative_sum","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":710,"y":580,"wires":[["6ee541a9304c796f"]]},{"id":"6ee541a9304c796f","type":"split","z":"91a838529bc37434","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":830,"y":580,"wires":[["9912584bbe97bd4b"]]},{"id":"9912584bbe97bd4b","type":"switch","z":"91a838529bc37434","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"parts.count - 2","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":580,"wires":[["b85c1a4cb1ef3ae7"]]},{"id":"b85c1a4cb1ef3ae7","type":"join","z":"91a838529bc37434","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1090,"y":560,"wires":[["b65d86ea526cce53","b398cbf24db25a6b"]]},{"id":"17b626fc52ded50f","type":"change","z":"91a838529bc37434","name":"Set Machine Name","rules":[{"t":"set","p":"payload","pt":"msg","to":"Cure Oven","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":540,"wires":[["b85c1a4cb1ef3ae7"]]},{"id":"3c4e3027f0050c61","type":"link in","z":"91a838529bc37434","name":"","links":["2873d01954978f57"],"x":115,"y":580,"wires":[["86d720ad4a0e2709"]]},{"id":"2d20eec73a1f5728","type":"link in","z":"91a838529bc37434","name":"","links":["2873d01954978f57"],"x":775,"y":540,"wires":[["17b626fc52ded50f"]]},{"id":"7569cd7119d1b13a","type":"influxdb in","z":"91a838529bc37434","influxdb":"a76f0844163cea73","name":"HomeAssistant","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":560,"y":580,"wires":[["5372cbe221eb585b"]]},{"id":"28285418a0abf1d5","type":"function","z":"91a838529bc37434","name":"","func":"//SELECT cumulative_sum(last(\"value\")) FROM \"home_assistant\".\"autogen\".\"h\" WHERE (\"entity_id\" = 'dry_off_oven_on') AND time >= 1641016800000ms and time <= now() GROUP BY time(1d) fill(null)\n\n//msg.machine = \"'wash_plant_on'\";\n\nmsg.range = 7 * 24 * 60 * 60 * 1000;\n\nmsg.time = Date.now() - msg.range;\n\nmsg.query = 'SELECT cumulative_sum(last(\"value\")) FROM \"home_assistant\".\"autogen\".\"h\" WHERE (\"entity_id\" =  ' + msg.machine + ') AND time >= ' + msg.time + 'ms and time <= now() GROUP BY time(1d) fill(null)';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":580,"wires":[["7569cd7119d1b13a"]]},{"id":"86d720ad4a0e2709","type":"change","z":"91a838529bc37434","name":"Set data name","rules":[{"t":"set","p":"machine","pt":"msg","to":"'cure_oven_on'","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":580,"wires":[["28285418a0abf1d5"]]},{"id":"b65d86ea526cce53","type":"link out","z":"91a838529bc37434","name":"","mode":"link","links":["66c05c67f5329dc1","43f6e4e0ab8574a5"],"x":1155,"y":520,"wires":[]},{"id":"1cc6ec0fefd8838f","type":"influxdb in","z":"91a838529bc37434","influxdb":"a76f0844163cea73","name":"HomeAssistant","query":"SELECT cumulative_sum(last(\"value\")) FROM \"home_assistant\".\"autogen\".\"h\" WHERE (\"entity_id\" = 'wash_plant_on') AND time >= 1641016800000ms and time <= now() GROUP BY time(1d) fill(null)","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":560,"y":740,"wires":[["bdb9cdbb997df858"]]},{"id":"bdb9cdbb997df858","type":"csv","z":"91a838529bc37434","name":"","sep":",","hdrin":"","hdrout":"all","multi":"one","ret":"\\n","temp":"time, cumulative_sum","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":710,"y":700,"wires":[["dd3317756b5584f8"]]},{"id":"dd3317756b5584f8","type":"split","z":"91a838529bc37434","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":830,"y":700,"wires":[["164791662d806063"]]},{"id":"164791662d806063","type":"switch","z":"91a838529bc37434","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"parts.count - 2","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":700,"wires":[["701696de3f9b2213"]]},{"id":"701696de3f9b2213","type":"join","z":"91a838529bc37434","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1090,"y":680,"wires":[["970302e5bd746ce7","b398cbf24db25a6b"]]},{"id":"eb3331429a24be31","type":"change","z":"91a838529bc37434","name":"Set Machine Name","rules":[{"t":"set","p":"payload","pt":"msg","to":"Auto Booth","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":660,"wires":[["701696de3f9b2213"]]},{"id":"66c05c67f5329dc1","type":"link in","z":"91a838529bc37434","name":"","links":["b65d86ea526cce53"],"x":115,"y":700,"wires":[["3b0a7c67e49148db"]]},{"id":"43f6e4e0ab8574a5","type":"link in","z":"91a838529bc37434","name":"","links":["b65d86ea526cce53"],"x":775,"y":660,"wires":[["eb3331429a24be31"]]},{"id":"13f46837d9db3810","type":"influxdb in","z":"91a838529bc37434","influxdb":"a76f0844163cea73","name":"HomeAssistant","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":560,"y":700,"wires":[["bdb9cdbb997df858"]]},{"id":"49dfa1736286b163","type":"function","z":"91a838529bc37434","name":"","func":"//SELECT cumulative_sum(last(\"value\")) FROM \"home_assistant\".\"autogen\".\"h\" WHERE (\"entity_id\" = 'dry_off_oven_on') AND time >= 1641016800000ms and time <= now() GROUP BY time(1d) fill(null)\n\n//msg.machine = \"'wash_plant_on'\";\n\nmsg.range = 7 * 24 * 60 * 60 * 1000;\n\nmsg.time = Date.now() - msg.range;\n\nmsg.query = 'SELECT cumulative_sum(last(\"value\")) FROM \"home_assistant\".\"autogen\".\"h\" WHERE (\"entity_id\" =  ' + msg.machine + ') AND time >= ' + msg.time + 'ms and time <= now() GROUP BY time(1d) fill(null)';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":700,"wires":[["13f46837d9db3810"]]},{"id":"3b0a7c67e49148db","type":"change","z":"91a838529bc37434","name":"Set data name","rules":[{"t":"set","p":"machine","pt":"msg","to":"'auto_booth_on'","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":700,"wires":[["49dfa1736286b163"]]},{"id":"970302e5bd746ce7","type":"link out","z":"91a838529bc37434","name":"","mode":"link","links":["c5a78ae3fd956361","065acf63391aa0cb"],"x":1155,"y":640,"wires":[]},{"id":"252da79371f71870","type":"influxdb in","z":"91a838529bc37434","influxdb":"a76f0844163cea73","name":"HomeAssistant","query":"SELECT cumulative_sum(last(\"value\")) FROM \"home_assistant\".\"autogen\".\"h\" WHERE (\"entity_id\" = 'wash_plant_on') AND time >= 1641016800000ms and time <= now() GROUP BY time(1d) fill(null)","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":560,"y":860,"wires":[["9dc851a9ce9b1971"]]},{"id":"9dc851a9ce9b1971","type":"csv","z":"91a838529bc37434","name":"","sep":",","hdrin":"","hdrout":"all","multi":"one","ret":"\\n","temp":"time, cumulative_sum","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":710,"y":820,"wires":[["be0ddfa8bce8f6b0"]]},{"id":"be0ddfa8bce8f6b0","type":"split","z":"91a838529bc37434","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":830,"y":820,"wires":[["166c1798e1cd9e9e"]]},{"id":"166c1798e1cd9e9e","type":"switch","z":"91a838529bc37434","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"parts.count - 2","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":820,"wires":[["ed4eddc5c4078cc7"]]},{"id":"ed4eddc5c4078cc7","type":"join","z":"91a838529bc37434","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1090,"y":800,"wires":[["33c0155dad52aaa4","b398cbf24db25a6b"]]},{"id":"61652ca8f04bd64a","type":"change","z":"91a838529bc37434","name":"Set Machine Name","rules":[{"t":"set","p":"payload","pt":"msg","to":"Manual Booth","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":780,"wires":[["ed4eddc5c4078cc7"]]},{"id":"c5a78ae3fd956361","type":"link in","z":"91a838529bc37434","name":"","links":["970302e5bd746ce7"],"x":115,"y":820,"wires":[["7e5ddff29d1ae3a7"]]},{"id":"065acf63391aa0cb","type":"link in","z":"91a838529bc37434","name":"","links":["970302e5bd746ce7"],"x":775,"y":780,"wires":[["61652ca8f04bd64a"]]},{"id":"10e6508bbdd0238d","type":"influxdb in","z":"91a838529bc37434","influxdb":"a76f0844163cea73","name":"HomeAssistant","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":560,"y":820,"wires":[["9dc851a9ce9b1971"]]},{"id":"1f68be36ec156f97","type":"function","z":"91a838529bc37434","name":"","func":"//SELECT cumulative_sum(last(\"value\")) FROM \"home_assistant\".\"autogen\".\"h\" WHERE (\"entity_id\" = 'dry_off_oven_on') AND time >= 1641016800000ms and time <= now() GROUP BY time(1d) fill(null)\n\n//msg.machine = \"'wash_plant_on'\";\n\nmsg.range = 7 * 24 * 60 * 60 * 1000;\n\nmsg.time = Date.now() - msg.range;\n\nmsg.query = 'SELECT cumulative_sum(last(\"value\")) FROM \"home_assistant\".\"autogen\".\"h\" WHERE (\"entity_id\" =  ' + msg.machine + ') AND time >= ' + msg.time + 'ms and time <= now() GROUP BY time(1d) fill(null)';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":820,"wires":[["10e6508bbdd0238d"]]},{"id":"7e5ddff29d1ae3a7","type":"change","z":"91a838529bc37434","name":"Set data name","rules":[{"t":"set","p":"machine","pt":"msg","to":"'manual_booth_on'","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":820,"wires":[["1f68be36ec156f97"]]},{"id":"33c0155dad52aaa4","type":"link out","z":"91a838529bc37434","name":"","mode":"link","links":["24787826dd95b111","2a97a4797273ea9b"],"x":1155,"y":760,"wires":[]},{"id":"5d15ea930a628a16","type":"comment","z":"91a838529bc37434","name":"Cure Oven","info":"","x":800,"y":500,"wires":[]},{"id":"ee76e3358b7cf771","type":"comment","z":"91a838529bc37434","name":"AutoBooth","info":"","x":800,"y":620,"wires":[]},{"id":"a4b69e9c7899577e","type":"comment","z":"91a838529bc37434","name":"Manual Booth","info":"","x":809,"y":741,"wires":[]},{"id":"2d7433cca2bb93e0","type":"e-mail","z":"91a838529bc37434","server":"","port":"587","secure":false,"tls":true,"name":"","dname":"","credentials":{"userid":"","password":""},"x":2030,"y":380,"wires":[]},{"id":"24787826dd95b111","type":"link in","z":"91a838529bc37434","name":"","links":["33c0155dad52aaa4"],"x":115,"y":940,"wires":[["13a41faac6bc47ce"]]},{"id":"13a41faac6bc47ce","type":"change","z":"91a838529bc37434","name":"Set data name","rules":[{"t":"set","p":"machine","pt":"msg","to":"'paint_line_on'","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":940,"wires":[["8d96c1c9d324ad55"]]},{"id":"8d96c1c9d324ad55","type":"function","z":"91a838529bc37434","name":"","func":"//SELECT cumulative_sum(last(\"value\")) FROM \"home_assistant\".\"autogen\".\"h\" WHERE (\"entity_id\" = 'dry_off_oven_on') AND time >= 1641016800000ms and time <= now() GROUP BY time(1d) fill(null)\n\n//msg.machine = \"'wash_plant_on'\";\n\nmsg.range = 7 * 24 * 60 * 60 * 1000;\n\nmsg.time = Date.now() - msg.range;\n\nmsg.query = 'SELECT cumulative_sum(last(\"value\")) FROM \"home_assistant\".\"autogen\".\"h\" WHERE (\"entity_id\" =  ' + msg.machine + ') AND time >= ' + msg.time + 'ms and time <= now() GROUP BY time(1d) fill(null)';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":940,"wires":[["4942c394af1ce7be"]]},{"id":"4942c394af1ce7be","type":"influxdb in","z":"91a838529bc37434","influxdb":"a76f0844163cea73","name":"HomeAssistant","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":560,"y":940,"wires":[["c450de7578be8814"]]},{"id":"765a01fcda94ad0c","type":"influxdb in","z":"91a838529bc37434","influxdb":"a76f0844163cea73","name":"HomeAssistant","query":"SELECT cumulative_sum(last(\"value\")) FROM \"home_assistant\".\"autogen\".\"h\" WHERE (\"entity_id\" = 'wash_plant_on') AND time >= 1641016800000ms and time <= now() GROUP BY time(1d) fill(null)","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":560,"y":980,"wires":[["c450de7578be8814"]]},{"id":"c450de7578be8814","type":"csv","z":"91a838529bc37434","name":"","sep":",","hdrin":"","hdrout":"all","multi":"one","ret":"\\n","temp":"time, cumulative_sum","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":710,"y":940,"wires":[["2e41f748edfdc02f"]]},{"id":"2e41f748edfdc02f","type":"split","z":"91a838529bc37434","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":830,"y":940,"wires":[["4bcba676dadb0df3"]]},{"id":"2a97a4797273ea9b","type":"link in","z":"91a838529bc37434","name":"","links":["33c0155dad52aaa4"],"x":775,"y":900,"wires":[["17102b1d967e48bb"]]},{"id":"17102b1d967e48bb","type":"change","z":"91a838529bc37434","name":"Set Machine Name","rules":[{"t":"set","p":"payload","pt":"msg","to":"Conveyor Line","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":900,"wires":[["be2a54a687297586"]]},{"id":"b6c6d472f11dad5b","type":"comment","z":"91a838529bc37434","name":"Conveyor Line","info":"","x":809,"y":861,"wires":[]},{"id":"4bcba676dadb0df3","type":"switch","z":"91a838529bc37434","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"parts.count - 2","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":940,"wires":[["be2a54a687297586"]]},{"id":"be2a54a687297586","type":"join","z":"91a838529bc37434","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1090,"y":920,"wires":[["22b4057f0ca566c5","b398cbf24db25a6b"]]},{"id":"22b4057f0ca566c5","type":"link out","z":"91a838529bc37434","name":"","mode":"link","links":["b08cbeef8de881ce"],"x":1155,"y":880,"wires":[]},{"id":"a6566337297da526","type":"influxdb in","z":"91a838529bc37434","influxdb":"a76f0844163cea73","name":"HomeAssistant","query":"SELECT cumulative_sum(last(\"value\")) AS \"last_value\" FROM \"home_assistant\".\"autogen\".\"input_number.ro_flow_rate\" WHERE time > :dashboardTime: AND time < :upperDashboardTime: GROUP BY time(1m) FILL(previous","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":560,"y":1060,"wires":[["d662b1798f319535"]]},{"id":"d662b1798f319535","type":"csv","z":"91a838529bc37434","name":"","sep":",","hdrin":"","hdrout":"all","multi":"one","ret":"\\n","temp":"time, cumulative_sum","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":710,"y":1060,"wires":[["4022820cf333faa5"]]},{"id":"4022820cf333faa5","type":"split","z":"91a838529bc37434","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":830,"y":1060,"wires":[["84e359e8a392de76"]]},{"id":"84e359e8a392de76","type":"switch","z":"91a838529bc37434","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"parts.count - 2","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":1060,"wires":[["cee3ead0b039cd6c"]]},{"id":"cee3ead0b039cd6c","type":"join","z":"91a838529bc37434","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1090,"y":1040,"wires":[["2ec01b3f41bbd7df"]]},{"id":"df3494d87ed5384a","type":"change","z":"91a838529bc37434","name":"Set Machine Name","rules":[{"t":"set","p":"payload","pt":"msg","to":"Conveyor Line","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1020,"wires":[["cee3ead0b039cd6c"]]},{"id":"d162807e218caab8","type":"link in","z":"91a838529bc37434","name":"","links":[],"x":775,"y":1020,"wires":[["df3494d87ed5384a"]]},{"id":"2ec01b3f41bbd7df","type":"link out","z":"91a838529bc37434","name":"","mode":"link","links":[],"x":1155,"y":1000,"wires":[]},{"id":"92874fdbd875b06b","type":"comment","z":"91a838529bc37434","name":"RO Water Usage","info":"","x":819,"y":981,"wires":[]},{"id":"a76f0844163cea73","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"HomeAssistant","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true}]
