Send MQTT Sleep Command on receiving data
[{"id":"011b7e0a60275ce1","type":"tab","label":"MQTT Sleep","disabled":false,"info":"","env":[]},{"id":"baea4c12e49d4624","type":"comment","z":"011b7e0a60275ce1","name":"Plant 2 Sensors to Deep sleep after Data Arrives","info":"The purpose of this flow is to decrease the time frame that the filter sensors are awake in order to preserve battery\n\n1. Filter out all data if OTA mode is enabled to prevent sleep during updates\n2. Filter out non string data\n2. Filter out reference sensor data and sleep_mode messages\n3. Split the mqtt message topic and select only the first 2 levels\n4. Combine the split topics back into one\n5. Limit the messages per topic to 1/s\n6. Set Sleep mode topic\n7. add sleep mode topic to MQTT topic\n8. Set the sleep_mode state and remove MQTT retain value\n9. Transmit finalized MQTT message","x":260,"y":80,"wires":[]},{"id":"5e1275fd89d18e81","type":"mqtt out","z":"011b7e0a60275ce1","name":"10","topic":"","qos":"2","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b4feb2c98d250680","x":1490,"y":140,"wires":[]},{"id":"bd5e7b4b59e468fc","type":"mqtt in","z":"011b7e0a60275ce1","name":"Plant 2","topic":"plant-2/#","qos":"2","datatype":"auto","broker":"b4feb2c98d250680","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":140,"wires":[["29964d3f6d144307"]]},{"id":"77d4bc8cbbbc32dc","type":"debug","z":"011b7e0a60275ce1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1370,"y":200,"wires":[]},{"id":"6939c4fa7cdf8bbf","type":"switch","z":"011b7e0a60275ce1","name":"2","property":"payload","propertyType":"msg","rules":[{"t":"istype","v":"string","vt":"string"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":140,"wires":[["e2fb9a98e47a15cd"],[]]},{"id":"17a47163c63f303a","type":"change","z":"011b7e0a60275ce1","name":"4","rules":[{"t":"set","p":"topic_1","pt":"msg","to":"$split(msg.topic, \"/\",2)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":140,"wires":[["388244d1699625b1"]]},{"id":"388244d1699625b1","type":"change","z":"011b7e0a60275ce1","name":"5","rules":[{"t":"set","p":"topic","pt":"msg","to":"$join(msg.topic_1, \"/\")","tot":"jsonata"},{"t":"delete","p":"topic_1","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":140,"wires":[["d191d1ad6ccfcd4f"]]},{"id":"d191d1ad6ccfcd4f","type":"delay","z":"011b7e0a60275ce1","name":"6","pauseType":"timed","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":850,"y":140,"wires":[["05a909a19dc1b664","a5170e0b54a71765"]]},{"id":"a5170e0b54a71765","type":"join","z":"011b7e0a60275ce1","name":"8","mode":"custom","build":"string","property":"topic","propertyType":"msg","key":"topic","joiner":"/","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1090,"y":140,"wires":[["ee81ebe2101d930b"]]},{"id":"05a909a19dc1b664","type":"change","z":"011b7e0a60275ce1","name":"7","rules":[{"t":"set","p":"topic","pt":"msg","to":"sleep_mode","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":120,"wires":[["a5170e0b54a71765"]]},{"id":"ee81ebe2101d930b","type":"change","z":"011b7e0a60275ce1","name":"9","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"},{"t":"delete","p":"retain","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":140,"wires":[["77d4bc8cbbbc32dc","5e1275fd89d18e81"]]},{"id":"e2fb9a98e47a15cd","type":"switch","z":"011b7e0a60275ce1","name":"3","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"sleep_mode","vt":"str"},{"t":"cont","v":"plant-2-reference","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":490,"y":140,"wires":[[],[],["17a47163c63f303a"]]},{"id":"d9beedb1f0b18257","type":"comment","z":"011b7e0a60275ce1","name":"<- Double click for notes","info":"","x":580,"y":80,"wires":[]},{"id":"29964d3f6d144307","type":"api-current-state","z":"011b7e0a60275ce1","name":"1","server":"6b5fc9b5.ca78b8","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.ota_filters","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":250,"y":140,"wires":[["6939c4fa7cdf8bbf"],[]]},{"id":"b4feb2c98d250680","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"6b5fc9b5.ca78b8","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"}]
